* {
  padding: 0;
  margin: 0;
  background-color: rgb(43, 42, 42);
  transition-duration: 0.3s;
}
.all {
  background-color: rgb(43, 42, 42);
}
.home {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 20px;
  font-family: poppins;
  color: white;
  position: fixed;
}
.home h1 {
  color: #00ffec;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
.nav ul li {
  display: inline-flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 40px;
  margin-right: 50px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition-duration: 0.8s;
  border-radius: 20px;
  width: 120px;
}
.nav .main {
  color: #00ffec;
}
.nav li:hover {
  color: #00ffec;
  box-shadow: 0px 0px 10px #00ffec;
}
.desc {
  padding-left: 50px;
  padding-top: 200px;
  color: white;
  font-family: poppins;
}
.desc h1 {
  color: #00ffec;
  font-size: 50px;
}
.desc a {
  color: #00ffec;
  text-decoration: none;
}
.desc p {
  letter-spacing: 1px;
  font-size: large;
}
.desc button {
  color: rgb(43, 42, 42);
  background-color: #00ffec;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border: 10px #00ffec;
  transition-duration: 0.5s;
}
.desc button:hover {
  background-color: transparent;
  color: #00ffec;
  box-shadow: 0px 0px 10px #00ffec;
}
.abt {
  margin-bottom: 30px;
}
.abt h2 {
  font-size: 32px;
}
.icon i {
  margin-left: 15px;
  color: #00ffec;
  font-size: larger;
  font-weight: 500;
  border-radius: 48px;
  padding: 2px;
  margin-top: 12px;
}
.icon {
  margin-left: 400px;
}
.icon i:hover {
  color: rgb(43, 42, 42);
  box-shadow: 0px 0px 2px #00ffec;
  background-color: #00ffec;
}
.about {
  color: white;
  font-family: poppins;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 20px;
}
.cet:hover {
  box-shadow: 0px 0px 30px #00ffec;
}
.about h1 {
  color: #00ffec;
}
.cet {
  width: 800px;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #00ffec;
}
.pro {
  background-color: salmon;
}
.wet {
  color: white;
  font-family: poppins;
  margin-top: 80px;
  margin-left: 400px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #00ffec;
  width: 800px;
  padding: 10px;
  justify-content: flex-end;
}
.wet:hover {
  box-shadow: 0px 0px 30px #00ffec;
}
.skil {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.skil i {
  font-size: 30px;
  margin-left: 25px;
  color: #00ffec;
  cursor: pointer;
  height: fit-content;
}
.skil i:hover {
  color: rgb(43, 42, 42);
  box-shadow: 0px 0px 10px #00ffec;
  background-color: #00ffec;
  border-radius: 10px;
}
.skil p {
  font-size: 18px;
}
.sft {
  display: flex;
  gap: 20px;
}
.ic {
  display: flex;
  gap: 20px;
  color: #00ffec;
}

.ic i {
  margin-top: 18px;
}
.sft ul {
  list-style: none;
  font-size: 18px;
  display: inline-flex;
  column-gap: 25px;
}
.wet h1 {
  color: #00ffec;
  margin-left: 30px;
}
.edcatio {
  color: white;
  font-family: poppins;
  margin-top: 80px;
  margin-left: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #00ffec;
  width: 800px;
  padding: 10px;
  justify-content: flex-end;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding-left: 20px;
}
.edcatio h1{
   margin-bottom: 30px;
}
.edcatio:hover {
  box-shadow: 0px 0px 30px #00ffec;
}
.edcatio i {
  font-size: 18px;
  color: #00ffec;
  margin-top: 20px;
}
.edcatio div {
  display: flex;
  gap: 20px;
}
.edcatio h5 {
  margin-bottom: 30px;
  /* background-color: #00ffec; */
  /* border-radius: 20px; */
  width: 150px;
  /* text-align: center; */
  /* color: rgb(43, 42, 42); */
}

/* .projects{
   width: 800px;
   height: max-content;
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-left: 100px;
   overflow: hidden;
   position: relative;
}
.projects h1{
   color: #00ffec;
   margin-left: 30px;
}
.pro1{
   width: 200px;
   height: 350px;
}
.projects img{
  position: absolute;
  width: 150px;
   animation: move 10s linear infinite;
   transform: calc();
}
.pro2{
   width: 200px;
   height: 350px;
  
}
.pro3{
   width: 200px;
   height: 350px;
}

@keyframes move{
   0%{
      left: 0px;
   }
   50%{
      left: 100%;
   }
   100%{
      left: 0px;
   }
} */

.info {
  padding-top: 30px;
  font-family: poppins;
  margin-top: 80px;
}
.in {
  width: fit-content;
  box-shadow: 0;
}

.get {
  gap: 20px;
  margin-left: 150px;
  color: white;
  padding-top: 10px;
  box-shadow: 0px 5px 10px #00ffec;
  border-radius: 20px;
  text-align: center;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.get p {
  color: white;
  width: fit-content;
  margin-left: 120px;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
}
.get h1 {
  width: fit-content;
  text-align: center;
  margin-left: 120px;
  height: fit-content;
  color: #00ffec;
}

.contact {
  justify-content: center;
  margin-left: 60px;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 30px;

  padding: 10px;
}
.contact h5 {
  font-size: 30px;
  color: #00ffec;
  margin-left: 20px;
  cursor: pointer;
  width: fit-content;
  padding: 5px;
  transition-duration: 0.5s;
}

.contact ul li {
  list-style: none;
  font-family: poppins;
  color: white;
  font-size: 18px;
  font-variation-settings: "wght" 500;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.contact i {
  font-size: 20px;
  margin-right: 10px;
}
.contact a {
  color: white;
  text-decoration: none;
}
.contact a:hover {
  color: #00ffec;
}
.brander {
  margin-left: 150px;
  font-size: 25px;
}
.brander a i {
  margin-right: 30px;
  background-color: rgb(43, 42, 42);
  color: #00ffec;
  border-radius: 50%;
}
.brander a i:hover {
  color: rgb(43, 42, 42);
  box-shadow: 0px 0px 10px #00ffec;
  background-color: #00ffec;
  border-radius: 10px;
}
.in {
  box-shadow: 0px 0px 15px #00ffec;
  padding-top: 20px;
  margin-left: 400px;
  width: 800px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  margin-bottom: 50px;
}
.in:hover {
  box-shadow: 0px 0px 30px #00ffec;
}
.messa {
  margin-top: 80px;
}

.message {
  padding-top: 50px;
  width: 600px;
  justify-content: center;
  margin-left: 500px;
  box-shadow: 0px 0px 15px #00ffec;
  padding: 30px;
  border-radius: 20px;
}
.meat h1 {
  font-family: poppins;
  color: #00ffec;
  text-align: center;
}
.send {
  padding: 20px;
  backdrop-filter: blur(20px);
  border: 2px solid #00ffec;
  border-radius: 20px;
  padding-left: 50px;
}
.send label {
  padding: 20px;
  font-family: poppins;
  font-size: 20px;
  color: white;
  background-color: transparent;
}
.send input {
  background-color: #00ffec;
  width: 400px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  height: 30px;
  padding: 10px;
  color: rgb(43, 42, 42);
}
.send input:focus {
  border: none;
  outline: none;
  color: white;
}
.send button {
  margin-top: 50px;
  margin-left: 130px;
  width: 150px;
  height: 50px;
  background-color: #00ffec;
  border-radius: 20px;
  border: none;
  font-family: poppins;
  font-size: 25px;
}
.send button:hover {
  background-color: rgb(43, 42, 42);
  color: #00ffec;
  box-shadow: 0px 0px 15px #00ffec;
}
.her {
  height: 100px;
}
.copy {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  padding: 10px;
}
.copy a {
  color: rgb(43, 42, 42);
  text-decoration: none;
  background-color: transparent;
}
.copy p {
  background-color: transparent;
  padding-top: 10px;
}
.copy a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(43, 42, 42);
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}
